<div class="addproject">
  <form id="addproject_form" action="/addProject" method="POST">
    <input id="addproject_text" name="name" type="text" placeholder="Project Name" autofocus="autofocus" required>
    <input id="addproject_button" name="addproject" type="submit" value="Create Project">
  </form>
</div>

<div class="messages">
  {{#if messages}}
    <p class="error_msg">{{messages.error}}</p>
    <p class="info_msg">{{messages.info}}</p>
  {{/if}}
</div>

<div class="projectlist">

{{#each projects}}
  <p><span class="index">{{math @index "+" 1}}</span> <a href="project/{{this._id}}">{{this.name}}</a> Created: {{formatDate this.dateCreated}}</p>

  <form action="/projectDone" method="POST" class="done_form">
    <input type="hidden" name="_id" value="{{this._id}}">
    <input class="done_button" type="submit" name="done" value="Done">
  </form>

  <form action="/projectDelete" method="POST" class="delete_form">
    <input type="hidden" name="_id" value="{{this._id}}">
    <input class="delete_button" type="submit" name="done" value="Delete">
  </form>

{{else}}
  <p>No current projects</p>
{{/each}}

</div>
