<div class="projectlist">
  {{#each projects}}
    <li class="list"><a href="project/{{this._id}}">{{this.name}}</a> Created: {{formatDate this.dateCreated}}, Completed: {{formatDate this.dateCompleted}}</li>
  {{else}}
    <p>No projects have been completed!</p>
  {{/each}}
</div>

<div class="deleteall">
  {{#if projects}}
    <form action="/deleteAll" method="POST">
      <input class="delete_all_button" type="submit" value="Delete all">
    </form>
  {{/if}}
</div>
